In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [4]:
df = pd.read_csv('hospital.csv')

In [5]:
df

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
0,A001,P034,D009,2023-08-09,15:15:00,Therapy,Scheduled
1,A002,P032,D004,2023-06-09,14:30:00,Therapy,No-show
2,A003,P048,D004,2023-06-28,8:00:00,Consultation,Cancelled
3,A004,P025,D006,2023-09-01,9:15:00,Consultation,Cancelled
4,A005,P040,D003,2023-07-06,12:45:00,Emergency,No-show
...,...,...,...,...,...,...,...
195,A196,P045,D006,2023-10-26,9:45:00,Checkup,Cancelled
196,A197,P001,D005,2023-04-01,13:30:00,Emergency,No-show
197,A198,P022,D006,2023-05-15,8:30:00,Therapy,No-show
198,A199,P017,D001,2023-05-01,12:45:00,Follow-up,Completed
199,A200,P007,D005,2023-12-30,10:15:00,Consultation,Cancelled

In [7]:
df.columns

Index(['appointment_id', 'patient_id', 'doctor_id', 'appointment_date',
       'appointment_time', 'reason_for_visit', 'status'],
      dtype='str')

In [8]:
patient_info = df[['appointment_id', 'patient_id', 'appointment_date','appointment_time' ]]
print(patient_info)

    appointment_id patient_id appointment_date appointment_time
0             A001       P034       2023-08-09         15:15:00
1             A002       P032       2023-06-09         14:30:00
2             A003       P048       2023-06-28          8:00:00
3             A004       P025       2023-09-01          9:15:00
4             A005       P040       2023-07-06         12:45:00
..             ...        ...              ...              ...
195           A196       P045       2023-10-26          9:45:00
196           A197       P001       2023-04-01         13:30:00
197           A198       P022       2023-05-15          8:30:00
198           A199       P017       2023-05-01         12:45:00
199           A200       P007       2023-12-30         10:15:00

[200 rows x 4 columns]

In [12]:
print(df.appointment_id.min())
print(df.appointment_id.max())

A001
A200

In [13]:
print(df.notnull())

     appointment_id  patient_id  doctor_id  appointment_date  \
0              True        True       True              True
1              True        True       True              True
2              True        True       True              True
3              True        True       True              True
4              True        True       True              True
..              ...         ...        ...               ...
195            True        True       True              True
196            True        True       True              True
197            True        True       True              True
198            True        True       True              True
199            True        True       True              True

     appointment_time  reason_for_visit  status
0                True              True    True
1                True              True    True
2                True              True    True
3                True              True    True
4                True              True    True
..                ...               ...     ...
195              True              True    True
196              True              True    True
197              True              True    True
198              True              True    True
199              True              True    True

[200 rows x 7 columns]

In [14]:
x = pd.notnull(df["patient_id"])
print(x)

0      True
1      True
2      True
3      True
4      True
       ...
195    True
196    True
197    True
198    True
199    True
Name: patient_id, Length: 200, dtype: bool

In [15]:
y = df.fillna(df.patient_id.min())
print(y)

    appointment_id patient_id doctor_id appointment_date appointment_time  \
0             A001       P034      D009       2023-08-09         15:15:00
1             A002       P032      D004       2023-06-09         14:30:00
2             A003       P048      D004       2023-06-28          8:00:00
3             A004       P025      D006       2023-09-01          9:15:00
4             A005       P040      D003       2023-07-06         12:45:00
..             ...        ...       ...              ...              ...
195           A196       P045      D006       2023-10-26          9:45:00
196           A197       P001      D005       2023-04-01         13:30:00
197           A198       P022      D006       2023-05-15          8:30:00
198           A199       P017      D001       2023-05-01         12:45:00
199           A200       P007      D005       2023-12-30         10:15:00

    reason_for_visit     status
0            Therapy  Scheduled
1            Therapy    No-show
2       Consultation  Cancelled
3       Consultation  Cancelled
4          Emergency    No-show
..               ...        ...
195          Checkup  Cancelled
196        Emergency    No-show
197          Therapy    No-show
198        Follow-up  Completed
199     Consultation  Cancelled

[200 rows x 7 columns]