In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('employee.csv')

In [3]:
df

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,34,Travel_Rarely,790,Sales,24,4,Medical,1,1489,1,...,3,80,0,16,2,4,15,9,10,10
1,35,Travel_Rarely,660,Sales,7,1,Life Sciences,1,1492,4,...,1,80,1,1,3,3,1,0,0,0
2,24,Travel_Frequently,381,Research & Development,9,3,Medical,1,1494,2,...,3,80,0,4,2,2,0,0,0,0
3,24,Non-Travel,830,Sales,13,2,Life Sciences,1,1495,4,...,3,80,1,1,2,3,1,0,0,0
4,44,Travel_Frequently,1193,Research & Development,2,1,Medical,1,1496,2,...,2,80,0,16,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,3,80,1,17,3,3,5,2,0,3
408,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,1,80,1,9,5,3,7,7,1,7
409,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,2,80,1,6,0,3,6,2,0,3
410,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,4,80,0,17,3,2,9,6,0,8
411,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,1,80,0,6,3,4,4,3,1,2

In [4]:
print(df.head(5))

   Age     BusinessTravel  DailyRate              Department  \
0   34      Travel_Rarely        790                   Sales
1   35      Travel_Rarely        660                   Sales
2   24  Travel_Frequently        381  Research & Development
3   24         Non-Travel        830                   Sales
4   44  Travel_Frequently       1193  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                24          4        Medical              1            1489
1                 7          1  Life Sciences              1            1492
2                 9          3        Medical              1            1494
3                13          2  Life Sciences              1            1495
4                 2          1        Medical              1            1496

   EnvironmentSatisfaction  ... RelationshipSatisfaction  StandardHours  \
0                        1  ...                        3             80
1                        4  ...                        1             80
2                        2  ...                        3             80
3                        4  ...                        3             80
4                        2  ...                        2             80

   StockOptionLevel  TotalWorkingYears TrainingTimesLastYear  WorkLifeBalance  \
0                 0                 16                     2                4
1                 1                  1                     3                3
2                 0                  4                     2                2
3                 1                  1                     2                3
4                 0                 16                     2                2

  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0             15                   9                       10
1              1                   0                        0
2              0                   0                        0
3              1                   0                        0
4              2                   2                        2

   YearsWithCurrManager
0                    10
1                     0
2                     0
3                     0
4                     2

[5 rows x 34 columns]

In [5]:
print(df.tail(5))

     Age     BusinessTravel  DailyRate              Department  \
407   36  Travel_Frequently        884  Research & Development
408   39      Travel_Rarely        613  Research & Development
409   27      Travel_Rarely        155  Research & Development
410   49  Travel_Frequently       1023                   Sales
411   34      Travel_Rarely        628  Research & Development

     DistanceFromHome  Education EducationField  EmployeeCount  \
407                23          2        Medical              1
408                 6          1        Medical              1
409                 4          3  Life Sciences              1
410                 2          3        Medical              1
411                 8          3        Medical              1

     EmployeeNumber  EnvironmentSatisfaction  ... RelationshipSatisfaction  \
407            2061                        3  ...                        3
408            2062                        4  ...                        1
409            2064                        2  ...                        2
410            2065                        4  ...                        4
411            2068                        2  ...                        1

     StandardHours  StockOptionLevel  TotalWorkingYears TrainingTimesLastYear  \
407             80                 1                 17                     3
408             80                 1                  9                     5
409             80                 1                  6                     0
410             80                 0                 17                     3
411             80                 0                  6                     3

     WorkLifeBalance YearsAtCompany  YearsInCurrentRole  \
407                3              5                   2
408                3              7                   7
409                3              6                   2
410                2              9                   6
411                4              4                   3

     YearsSinceLastPromotion  YearsWithCurrManager
407                        0                     3
408                        1                     7
409                        0                     3
410                        0                     8
411                        1                     2

[5 rows x 34 columns]

In [6]:
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       412 non-null    int64
 1   BusinessTravel            412 non-null    str
 2   DailyRate                 412 non-null    int64
 3   Department                412 non-null    str
 4   DistanceFromHome          412 non-null    int64
 5   Education                 412 non-null    int64
 6   EducationField            412 non-null    str
 7   EmployeeCount             412 non-null    int64
 8   EmployeeNumber            412 non-null    int64
 9   EnvironmentSatisfaction   412 non-null    int64
 10  Gender                    412 non-null    str
 11  HourlyRate                412 non-null    int64
 12  JobInvolvement            412 non-null    int64
 13  JobLevel                  412 non-null    int64
 14  JobRole                   412 non-null    str
 15  JobSatisfaction           412 non-null    int64
 16  MaritalStatus             412 non-null    str
 17  MonthlyIncome             412 non-null    int64
 18  MonthlyRate               412 non-null    int64
 19  NumCompaniesWorked        412 non-null    int64
 20  Over18                    412 non-null    str
 21  OverTime                  412 non-null    str
 22  PercentSalaryHike         412 non-null    int64
 23  PerformanceRating         412 non-null    int64
 24  RelationshipSatisfaction  412 non-null    int64
 25  StandardHours             412 non-null    int64
 26  StockOptionLevel          412 non-null    int64
 27  TotalWorkingYears         412 non-null    int64
 28  TrainingTimesLastYear     412 non-null    int64
 29  WorkLifeBalance           412 non-null    int64
 30  YearsAtCompany            412 non-null    int64
 31  YearsInCurrentRole        412 non-null    int64
 32  YearsSinceLastPromotion   412 non-null    int64
 33  YearsWithCurrManager      412 non-null    int64
dtypes: int64(26), str(8)
memory usage: 109.6 KB
None

In [7]:
print(df.describe())

              Age    DailyRate  DistanceFromHome   Education  EmployeeCount  \
count  412.000000   412.000000        412.000000  412.000000          412.0
mean    36.584951   784.364078          9.742718    3.000000            1.0
std      8.389257   390.361319          8.258996    1.001216            0.0
min     18.000000   104.000000          1.000000    1.000000            1.0
25%     31.000000   464.750000          2.000000    2.000000            1.0
50%     35.500000   740.500000          8.000000    3.000000            1.0
75%     42.000000  1147.750000         15.000000    4.000000            1.0
max     60.000000  1495.000000         29.000000    5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
count      412.000000               412.000000  412.000000      412.000000
mean      1777.565534                 2.745146   66.526699        2.711165
std        166.285256                 1.094379   20.352054        0.729344
min       1489.000000                 1.000000   30.000000        1.000000
25%       1637.250000                 2.000000   48.000000        2.000000
50%       1769.000000                 3.000000   67.000000        3.000000
75%       1929.500000                 4.000000   85.000000        3.000000
max       2068.000000                 4.000000  100.000000        4.000000

         JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  412.000000  ...                412.000000          412.0
mean     1.995146  ...                  2.674757           80.0
std      1.025218  ...                  1.056111            0.0
min      1.000000  ...                  1.000000           80.0
25%      1.000000  ...                  2.000000           80.0
50%      2.000000  ...                  3.000000           80.0
75%      2.000000  ...                  4.000000           80.0
max      5.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count        412.000000         412.000000             412.000000
mean           0.873786          10.878641               2.876214
std            0.884356           7.133747               1.252430
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          14.000000               3.000000
max            3.000000          37.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count       412.000000      412.000000          412.000000
mean          2.754854        6.861650            4.148058
std           0.704936        5.759814            3.640796
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000       10.000000            7.000000
max           4.000000       36.000000           17.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count               412.000000            412.000000
mean                  2.148058              4.072816
std                   3.108723              3.491322
min                   0.000000              0.000000
25%                   0.000000              2.000000
50%                   1.000000              3.000000
75%                   2.000000              7.000000
max                  14.000000             17.000000

[8 rows x 26 columns]

In [8]:
print(df.iloc[0:5])

   Age     BusinessTravel  DailyRate              Department  \
0   34      Travel_Rarely        790                   Sales
1   35      Travel_Rarely        660                   Sales
2   24  Travel_Frequently        381  Research & Development
3   24         Non-Travel        830                   Sales
4   44  Travel_Frequently       1193  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                24          4        Medical              1            1489
1                 7          1  Life Sciences              1            1492
2                 9          3        Medical              1            1494
3                13          2  Life Sciences              1            1495
4                 2          1        Medical              1            1496

   EnvironmentSatisfaction  ... RelationshipSatisfaction  StandardHours  \
0                        1  ...                        3             80
1                        4  ...                        1             80
2                        2  ...                        3             80
3                        4  ...                        3             80
4                        2  ...                        2             80

   StockOptionLevel  TotalWorkingYears TrainingTimesLastYear  WorkLifeBalance  \
0                 0                 16                     2                4
1                 1                  1                     3                3
2                 0                  4                     2                2
3                 1                  1                     2                3
4                 0                 16                     2                2

  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0             15                   9                       10
1              1                   0                        0
2              0                   0                        0
3              1                   0                        0
4              2                   2                        2

   YearsWithCurrManager
0                    10
1                     0
2                     0
3                     0
4                     2

[5 rows x 34 columns]

In [9]:
print(df.iloc[0:5, 0:5])

   Age     BusinessTravel  DailyRate              Department  DistanceFromHome
0   34      Travel_Rarely        790                   Sales                24
1   35      Travel_Rarely        660                   Sales                 7
2   24  Travel_Frequently        381  Research & Development                 9
3   24         Non-Travel        830                   Sales                13
4   44  Travel_Frequently       1193  Research & Development                 2

In [10]:
print(df.isnull())

       Age  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0    False           False      False       False             False
1    False           False      False       False             False
2    False           False      False       False             False
3    False           False      False       False             False
4    False           False      False       False             False
..     ...             ...        ...         ...               ...
407  False           False      False       False             False
408  False           False      False       False             False
409  False           False      False       False             False
410  False           False      False       False             False
411  False           False      False       False             False

     Education  EducationField  EmployeeCount  EmployeeNumber  \
0        False           False          False           False
1        False           False          False           False
2        False           False          False           False
3        False           False          False           False
4        False           False          False           False
..         ...             ...            ...             ...
407      False           False          False           False
408      False           False          False           False
409      False           False          False           False
410      False           False          False           False
411      False           False          False           False

     EnvironmentSatisfaction  ...  RelationshipSatisfaction  StandardHours  \
0                      False  ...                     False          False
1                      False  ...                     False          False
2                      False  ...                     False          False
3                      False  ...                     False          False
4                      False  ...                     False          False
..                       ...  ...                       ...            ...
407                    False  ...                     False          False
408                    False  ...                     False          False
409                    False  ...                     False          False
410                    False  ...                     False          False
411                    False  ...                     False          False

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0               False              False                  False
1               False              False                  False
2               False              False                  False
3               False              False                  False
4               False              False                  False
..                ...                ...                    ...
407             False              False                  False
408             False              False                  False
409             False              False                  False
410             False              False                  False
411             False              False                  False

     WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0              False           False               False
1              False           False               False
2              False           False               False
3              False           False               False
4              False           False               False
..               ...             ...                 ...
407            False           False               False
408            False           False               False
409            False           False               False
410            False           False               False
411            False           False               False

     YearsSinceLastPromotion  YearsWithCurrManager
0                      False                 False
1                      False                 False
2                      False                 False
3                      False                 False
4                      False                 False
..                       ...                   ...
407                    False                 False
408                    False                 False
409                    False                 False
410                    False                 False
411                    False                 False

[412 rows x 34 columns]

In [11]:
print(df.isna().sum())

Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [12]:
df_drop = df.dropna()
print(df_drop)

     Age     BusinessTravel  DailyRate              Department  \
0     34      Travel_Rarely        790                   Sales
1     35      Travel_Rarely        660                   Sales
2     24  Travel_Frequently        381  Research & Development
3     24         Non-Travel        830                   Sales
4     44  Travel_Frequently       1193  Research & Development
..   ...                ...        ...                     ...
407   36  Travel_Frequently        884  Research & Development
408   39      Travel_Rarely        613  Research & Development
409   27      Travel_Rarely        155  Research & Development
410   49  Travel_Frequently       1023                   Sales
411   34      Travel_Rarely        628  Research & Development

     DistanceFromHome  Education EducationField  EmployeeCount  \
0                  24          4        Medical              1
1                   7          1  Life Sciences              1
2                   9          3        Medical              1
3                  13          2  Life Sciences              1
4                   2          1        Medical              1
..                ...        ...            ...            ...
407                23          2        Medical              1
408                 6          1        Medical              1
409                 4          3  Life Sciences              1
410                 2          3        Medical              1
411                 8          3        Medical              1

     EmployeeNumber  EnvironmentSatisfaction  ... RelationshipSatisfaction  \
0              1489                        1  ...                        3
1              1492                        4  ...                        1
2              1494                        2  ...                        3
3              1495                        4  ...                        3
4              1496                        2  ...                        2
..              ...                      ...  ...                      ...
407            2061                        3  ...                        3
408            2062                        4  ...                        1
409            2064                        2  ...                        2
410            2065                        4  ...                        4
411            2068                        2  ...                        1

     StandardHours  StockOptionLevel  TotalWorkingYears TrainingTimesLastYear  \
0               80                 0                 16                     2
1               80                 1                  1                     3
2               80                 0                  4                     2
3               80                 1                  1                     2
4               80                 0                 16                     2
..             ...               ...                ...                   ...
407             80                 1                 17                     3
408             80                 1                  9                     5
409             80                 1                  6                     0
410             80                 0                 17                     3
411             80                 0                  6                     3

     WorkLifeBalance YearsAtCompany  YearsInCurrentRole  \
0                  4             15                   9
1                  3              1                   0
2                  2              0                   0
3                  3              1                   0
4                  2              2                   2
..               ...            ...                 ...
407                3              5                   2
408                3              7                   7
409                3              6                   2
410                2              9                   6
411                4              4                   3

     YearsSinceLastPromotion  YearsWithCurrManager
0                         10                    10
1                          0                     0
2                          0                     0
3                          0                     0
4                          2                     2
..                       ...                   ...
407                        0                     3
408                        1                     7
409                        0                     3
410                        0                     8
411                        1                     2

[412 rows x 34 columns]